$yellow: #ffeaa5;
$red: #fe5f55;
$aqua: #c7efcf;
$bone: #eef5db;
$grey-bg: #313333;

body, html {
  color: $bone;
  height: 100%;
  text-align: center;
  background-color: $grey-bg;
}
#background {
  background-image: url('https://s3.us-east-2.amazonaws.com/brock.portfolio.page.v2/ring_background.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: $grey-bg;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $bone;
}

.navbar-default .navbar-nav>li>a {
  color: $bone; 
}

.fa {
  font-size: 48px;
  border-color: $grey-bg;
  background-color: $grey-bg;
  color: $bone;
}
.btn {
  border-color: $grey-bg;
  background-color: $grey-bg;
}
#welcome-section {
  height: 100%;
  font-size: 30vh;
  color: black;
}
#project-tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}
.screenshot {
  display: block;
  width: 100%;
}
/* 
@media screen and (max-width: 767px) {
  body {
      font-size: 1.2em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
      font-size: 1.4em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
      font-size: 1.6em;
  }
}
@media screen and (min-width: 1200px) {
  body {
      font-size: 1.8em;
  }
}
*/